* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
}

.item-one {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.img {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    height: auto;
    display: block;
}


.text-over-image {
    width: 95%;
    position: absolute;
    font-size: large;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
}

.item-two {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    width: 400px;
    height: 250px;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .3);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-cover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.text-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    .main {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .item-one {
        width: 80%;
    }

    .item-two {
        width: 80%;
    }
}

@media (max-width: 800px) {

    .item-one {
        width: 90%;
        height: 50%;
    }

    .item-two {
        width: 95%;
    }

    .box-cover {
        flex-direction: column;
    }

    .box {
        width: 350px;
        height: 220px;
    }

    .text-over-image {
        font-size: small;
        top: 82%;
    }
}